/**
 * Copyright © Shannon Moeller. All rights reserved. Learn, don't loot.
 */

.game-canvas {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.game-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	opacity: 0;
}

.game-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	opacity: 0;
}

.game-pause {
	position: absolute;
	top: env(safe-area-inset-top, 20px);
	left: 50%;
	transform: translateX(-50%);
}
