/**
 * Copyright © Shannon Moeller. All rights reserved. Learn, don't loot.
 */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: unset;
	padding: unset;

	background: unset;
	border: unset;
	color: inherit;
	font: inherit;
	list-style: none;
	outline: unset;
	text-decoration: unset;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.loading > * {
	transition: none !important;
}

html,
body {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

html {
	font-size: 62.5%;
}

body {
	background-attachment: fixed;
	background-color: hsl(0 0% 0%);
	background-image: linear-gradient(hsl(0 0% 5%), transparent),
		linear-gradient(to bottom right, hsl(162 50% 50% / 50%), transparent),
		linear-gradient(to bottom left, hsl(210 50% 50% / 50%), transparent),
		linear-gradient(to top, hsl(162 50% 50% / 20%), transparent);
	color: hsl(var(--primary-hs) 80%);
	font: 200 2.4rem/1.2 var(--font-stack);
}
