*,
*::before,
*::after {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	box-sizing: border-box;
	margin: unset;
	padding: unset;

	background: unset;
	border: unset;
	color: inherit;
	font: inherit;
	outline: unset;
	text-decoration: unset;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.loading > * {
	transition: none !important;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

html {
	font-size: 62.5%;
}

body {
	background-color: hsl(0 0% 0%);
	background-image: linear-gradient(
		to bottom,
		hsl(var(--primary-h) 40% 0%),
		hsl(var(--primary-h) 0% 1%) 20%,
		hsl(var(--primary-h) 20% 8%) 87%,
		hsl(var(--primary-h) 30% 12%) 98%,
		hsl(var(--primary-h) 40% 14%)
	);
	color: hsl(var(--primary-hs) 80%);
	font: 200 2.4rem/1 var(--font-stack);
}
