/**
 * Copyright © Shannon Moeller. All rights reserved. Learn, don't loot.
 */

.splash {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-color: hsl(0 0% 0%);
	background-image: linear-gradient(
			to bottom,
			hsl(0 0% 5% / 100%),
			hsl(0 0% 5% / 0%)
		),
		linear-gradient(
			to top,
			hsl(var(--primary-hsl) / 20%) 20%,
			hsl(var(--primary-hsl) / 0%)
		),
		linear-gradient(
			to bottom right,
			hsl(var(--primary-hsl) / 50%),
			hsl(var(--primary-hsl) / 0%)
		),
		linear-gradient(
			to bottom left,
			hsl(var(--accent-hsl) / 50%),
			hsl(var(--accent-hsl) / 0%)
		),
		url(/assets/img/saturn.jpg);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;
}

@media (orientation: portrait) {
	.splash {
		background-size: auto, auto, auto, auto, auto 66%;
	}
}
