/**
 * Copyright © Shannon Moeller. All rights reserved. Learn, don't loot.
 */

.ui {
	display: block;
	position: absolute;
	top: env(safe-area-inset-top, 0);
	right: env(safe-area-inset-right, 0);
	bottom: env(safe-area-inset-bottom, 0);
	left: env(safe-area-inset-left, 0);
	padding: 2.4em;
	overflow: scroll;
}

.ui-title {
	font-size: 2em;
}

.ui-button[disabled] {
	cursor: not-allowed;
	opacity: 0.3;
}
